# Dependencies
node_modules/

# Next.js
frontend/.next/
frontend/out/
next-env.d.ts
*.tsbuildinfo

# NestJS
backend/dist/

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/migrations/dev/

# Env
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
